# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
rasa_env/

# Logs and debug files
*.log

# Rasa cache
*.cache/

# Docker files
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db
